<div>
    <div class="right-br"></div>
    <div class="fixed-right-socials">
        <ul class="list-unstiled">
            <li><a href="http://facebook.com/colliensepodder.prodip" target="_blank"><i class="fa fa-facebook"></i></a></li>
            <li><a href="http://github.com/colliense1" target="_blank"><i class="fa fa-github"></i></a></li>
            <li><a href="http://linkedin.com/in/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="http://instagram/" target="_blank"><i class="fa fa-instagram"></i></a></li>
            <li><a href="http://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a></li>
            <li><a href="http://plus.google.com/" target="_blank"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="http://skype.com/" target="_blank"><i class="fa fa-skype"></i></a></li>
        </ul>
    </div>
</div>