<section id="testimonial">
    <div class="testimonial-background">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-9 col-sm-offset-3 testimonialWrapper">
                    <!-- Section Title -->
                    <div class="section-title">
                        <h2><span>06</span>Interests</h2>
                    </div><!-- end Section Title -->
                    <div class="testimonial-box">
                        <div id="testimonialSlider" class="owl-carousel">
                            
                            <div class="testimonial" v-for="testimonial in testimonials">
                                <div class="testimonial_content">
                                    <p>{{ testimonial.content }}</p>
                                </div>
                                <div class="testimonial_author clearfix">
                                    <i :class="['fa', item.icon ]" aria-hidden="true"></i>
                                </div>
                                <div>
                                    <h2 class="testimonial_name">{{ testimonial.name }}</h2>
                                    <div class="testimonial_position">{{ testimonial.position }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- end row -->
        </div><!-- end container -->
    </div>
</section>
